.log-in {
  padding: 80px 120px 24px 120px;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  align-items: center;
  h1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 80px;
    letter-spacing: -0.02em;
    color: #C3C8D4;
    margin-bottom: 40px;
  }
  form {
    margin-left: 60px;
  }
}


@media screen and (max-width: 1024px) {
  .log-in {
    padding-left: 80px;
    padding-right: 80px;
    h1 {
      font-size: 30px;
    }
    .sally-wrapper {
      display: none;
    }
    form {
      margin-left: 0;
      width: 100%;
    }
  }
}


@media screen and (max-width: 768px) {
  .log-in {
    padding-left: 40px;
    padding-right: 40px;
  }
}


@media screen and (max-width: 360px) {
  .log-in {
    padding-left: 16px;
    padding-right: 16px;
  }
}

