<div class="suggest-modal">
  <div class="close-button-wrapper">
    <div class="close-button" (click)="onNoClick()">
      <img src="assets/dialog/close.png" alt="close">
    </div>
  </div>
  <div class="suggest-form">
    <div class="thank-you-wrapper">
      <img src="assets/dialog/thankyou.png" alt="thank you">
    </div>
    <h2>Thank you for your suggestion</h2>
    <p>
      Your suggestion has been succesfully added to my watchlist, I will manage sometime to watch your suggestion. ❤
    </p>
  </div>
</div>
