* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  background-size: 100%;
  background: #121829 url(assets/Background.png) repeat-y 50% -160px;
}

:root {
  color-scheme: dark;
}
.successSnack {
  background-color: green;
}

.errorSnack {
  background-color: rgba(255, 0, 0, 0.4);
}
